<div class="sign-out">
  <h1>Thank you for visiting</h1>
  <mat-card class="list">
    <mat-card-content>
      <mat-selection-list
        [(ngModel)]="selectedVisitorNames"
        (selectionChange)="selectionChange($event)"
        *ngIf="visitors$ | async as visitors"
      >
        <ng-container *ngIf="visitors.length > 1">
          <mat-list-option [value]="allVal">SELECT ALL</mat-list-option>
          <mat-divider></mat-divider>
        </ng-container>
        <mat-list-option *ngFor="let visitor of visitors" [value]="visitor.name">
          {{ visitor.name }}
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
  <div class="button-row">
    <a class="buttons" mat-stroked-button color="accent" [routerLink]="['/welcome']">CANCEL</a>
    <button class="buttons" mat-raised-button color="accent" (click)="onSignOut()">SIGN OUT</button>
  </div>
</div>
