:host {
  display: grid;
  height: 100vh;
  place-items: center;
}

.sign-out {
  justify-self: stretch;

  display: grid;
  grid-template-columns: 1fr minmax(400px, 2fr) 1fr;
  grid-template-rows: 100px 1fr 50px;
  justify-items: center;
  grid-row-gap: 10px;

  h1 {
    grid-column: 2;
    // justify-self: center;
  }

  .list {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: stretch;
  }

  .button-row {
    // justify-self: center;
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: end;

    .buttons {
      margin-left: 10px;
    }
  }
}
