<div class="sign-in">
  <h1>Welcome! Please sign in.</h1>
  <ng-container *ngIf="groupForm$ | async as vm">
    <form [formGroup]="vm.visitorGroupForm">
      <!-- <ul>
        <li > -->
      <app-visitor-form
        *ngFor="let visitor of vm.visitorFormArray?.controls; let i = index"
        [index]="i"
        [visitorForm]="visitor"
        [visitReasons]="reasons"
        (removeVisitor)="removeVisitor($event)"
      ></app-visitor-form>
      <!-- </li>
      </ul> -->
    </form>
    <div class="button-row">
      <span class="row-start">
        <ng-container *ngIf="visitorsPresent$ | async as visitorsPresent">
          <a
            *ngIf="visitorsPresent"
            mat-stroked-button
            class="cancel-button"
            color="accent"
            matTooltip="cancel sign in"
            [routerLink]="['/welcome']"
            tabindex="3"
          >
            CANCEL
          </a>
        </ng-container>
      </span>
      <span class="row-end">
        <button
          class="add-visitor-button"
          color="primary"
          mat-stroked-button
          matTooltip="Add another visitor"
          (click)="addVisitor()"
          tabindex="2"
        >
          <!-- [disabled]="!formGroup.valid" -->
          <mat-icon aria-label="Add Visitor">person_add</mat-icon>
          ADD VISITOR
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="submit(vm.visitorGroupForm.value)"
          [disabled]="vm.visitorGroupForm.invalid"
          tabindex="1"
          matTooltip="Complete sign in"
        >
          SIGN IN
        </button>
      </span>
    </div>
  </ng-container>
</div>
