:host {
  display: grid;
  height: 100vh;
  place-items: center;
}

.sign-in {
  display: grid;
  grid-template-columns: 1fr minmax(400px, 6fr) 1fr;
  grid-template-rows: 100px 1fr 50px;
  justify-items: center;
  grid-row-gap: 10px;
}

form {
  // outline: 1px solid blue;
  justify-self: stretch;
  grid-column-start: 2;
  grid-row-start: 2;
}

ul {
  list-style-type: none;
}

h1 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.button-row {
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: stretch;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;

  .row-start {
    grid-column-start: 1;
    justify-self: start;
  }

  .row-end {
    grid-column-start: 3;
    justify-self: end;
  }

  button {
    margin-left: 10px;
  }
}
