<div class="login-page">
  <section>
    <h2>Welcome to Signatome</h2>

    <p>
      Please sign in using either your email and password or your credentials associated with one of our supported third
      party authentication providers.
    </p>
  </section>
  <ngx-auth-firebaseui
    guestEnabled="false"
    registrationEnabled="false"
    (onSuccess)="onLoginSuccess()"
  ></ngx-auth-firebaseui>
</div>
