:host {
  // outline: solid 1px red;
}

.visitor-row {
  // justify-self: stretch;
  // border: solid 1px red;
  display: grid;
  grid-column-gap: 25px;
  grid-template-rows: 1;
  grid-template-columns: repeat(3, 3fr) 2fr 1fr;
  justify-items: center;
  align-items: baseline;
}

.delete-button {
  // justify-self: start;
  align-self: center;
}

mat-checkbox {
  align-self: center;
}
