<form class="visitor-row" [formGroup]="visitorForm">
  <!-- name -->

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name" />
  </mat-form-field>

  <!-- purpose -->

  <mat-form-field>
    <mat-label>Purpose of Visit</mat-label>
    <mat-select formControlName="visitPurpose">
      <mat-option *ngFor="let reason of visitReasons" [value]="reason">
        {{ reason }}
      </mat-option>
    </mat-select>
    <!-- <input matInput formControlName="visitPurpose" placeholder="Purpose of Visit" /> -->
  </mat-form-field>

  <!-- contact -->

  <mat-form-field class="form-field">
    <input
      type="text"
      placeholder="Employee Contact"
      aria-label="Employee Contact"
      matInput
      formControlName="employeeContact"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <!-- <mat-option>test</mat-option> -->
      <mat-option *ngFor="let option of filteredContacts$ | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- citizen -->

  <mat-checkbox formControlName="usCitizen">US Citizen</mat-checkbox>

  <button
    class="delete-button"
    *ngIf="index > 0"
    mat-icon-button
    color="warn"
    matTooltip="Remove Visitor"
    (click)="remove()"
  >
    <mat-icon>delete_outline</mat-icon>
  </button>
</form>

<mat-divider></mat-divider>
