<mat-toolbar class="nav-bar" color="primary">
  <mat-toolbar-row>
    <app-brand-nav class="spacer" name="Signatome"></app-brand-nav>
    <nav>
      <a mat-button *ngFor="let item of navigation" [routerLink]="[item.link]" routerLinkActive="active">
        {{ item.label }}
      </a>

      <ng-container [ngSwitch]="isAuthenticated$ | async">
        <a
          *ngSwitchCase="false"
          mat-stroked-button
          color="accent"
          [routerLink]="['./login']"
          routerLinkActive="router-link-active"
        >
          Login
        </a>

        <a *ngSwitchCase="true" mat-button [routerLink]="['/welcome']" routerLinkActive="active">
          Kiosk
        </a>
        <a *ngSwitchCase="true" mat-button [matMenuTriggerFor]="toolbarUserMenu">
          Profile
        </a>
      </ng-container>
      <mat-menu #toolbarUserMenu="matMenu">
        <ngx-auth-firebaseui-user
          [canDeleteAccount]="false"
          (click)="$event.stopPropagation()"
        ></ngx-auth-firebaseui-user>
      </mat-menu>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
