<ng-container *ngIf="route$ | async as vm">
  <h1 *ngIf="vm.message === 'in'; else out">Sign In Complete! Welcome.</h1>

  <ng-template #out>
    <h1>Sign Out Complete! Thanks for visiting.</h1>
  </ng-template>
</ng-container>
