<!-- <img src="../../assets/background.svg" alt="banner" /> -->
<!-- <label class="title">Welcome to TechRev</label> -->

<h1 [class.mat-elevation-z8] class="welcome">
  Welcome to our business!
</h1>

<a [class.mat-elevation-z8] class="sign-in" color="primary" mat-raised-button routerLink="/sign-in">
  Sign In
  <mat-icon>arrow_forward</mat-icon>
</a>
<a [class.mat-elevation-z8] class="sign-out" color="accent" mat-raised-button routerLink="/sign-out">
  <mat-icon>arrow_back</mat-icon>
  Sign Out
</a>
